modelo/I2A2.json
{
  "name": "I2A2",
  "nodes": [
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/T-800-Beta-I2A2/agente-autonomo-analise-csv/refs/heads/main/data/202401_NFs_Cabecalho.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data_header"
            }
          },
          "proxy": ""
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        20
      ],
      "id": "c291a9cf-3ac4-4a35-bff9-890fb5928128",
      "name": "HTTP Request",
      "notesInFlow": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/T-800-Beta-I2A2/agente-autonomo-analise-csv/refs/heads/main/data/202401_NFs_Itens.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data_item"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        220
      ],
      "id": "04c9ec4a-6f47-4fc7-9bea-3eab9af2ed43",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "CHAVE",
              "field2": "CHAVE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        300,
        120
      ],
      "id": "a3e2eb8c-19b8-4a70-9910-320bb5a94bca",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Cabeçario de NF",
        "height": 220,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -430,
        -40
      ],
      "typeVersion": 1,
      "id": "7ec41819-8245-4d99-91a9-523aba947708",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Items de NF",
        "height": 220,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -430,
        160
      ],
      "typeVersion": 1,
      "id": "3a86a458-2159-4972-afd7-0c0ab7e44133",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "```\n████████╗    █████╗  ██████╗  ██████╗ \n╚══██╔══╝   ██╔══██╗██╔═████╗██╔═████╗\n   ██║█████╗╚█████╔╝██║██╔██║██║██╔██║\n   ██║╚════╝██╔══██╗████╔╝██║████╔╝██║\n   ██║      ╚█████╔╝╚██████╔╝╚██████╔╝\n   ╚═╝       ╚════╝  ╚═════╝  ╚═════╝ \n                                      \n```",
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        -100
      ],
      "typeVersion": 1,
      "id": "71cda02b-8f1a-4451-b4d2-2441a0da9395",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "binaryPropertyName": "data_header",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -140,
        20
      ],
      "id": "877f7797-7154-4f9e-b66b-233d8572f319",
      "name": "Extract from File1",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c27d85c-ddb9-4a00-94be-b02e7c0b06ef",
              "name": "CHAVE",
              "value": "={{ $json['CHAVE DE ACESSO'] }}",
              "type": "string"
            },
            {
              "id": "4a640049-e111-472d-aa56-1912b13d6243",
              "name": "NUMERO_PRODUTO",
              "value": "={{ $json['NÚMERO PRODUTO'] }}",
              "type": "string"
            },
            {
              "id": "0bf62bd2-d252-49c0-a050-bbb59c0daa8e",
              "name": "CODIGO_NCM_SH",
              "value": "={{ $json['CÓDIGO NCM/SH'] }}",
              "type": "string"
            },
            {
              "id": "66127d12-e100-4afc-acf0-2bd167d13055",
              "name": "NCM_SH_TIPO_DE_PRODUTO",
              "value": "={{ $json['NCM/SH (TIPO DE PRODUTO)'] }}",
              "type": "string"
            },
            {
              "id": "4edee720-4d27-4f99-9ad5-f4640596fdb9",
              "name": "CFOP",
              "value": "={{ $json.CFOP }}",
              "type": "string"
            },
            {
              "id": "ed4aec4f-1101-4c2a-a670-b70d6f86ecc8",
              "name": "QUANTIDADE",
              "value": "={{ $json.QUANTIDADE }}",
              "type": "string"
            },
            {
              "id": "b1be16a9-0232-4095-835f-dd34b6da5975",
              "name": "VALOR_UNITARIO",
              "value": "={{ $json['VALOR UNITÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "2f814ef7-3672-43d7-98b4-16b36688ae8f",
              "name": "VALOR_TOTAL",
              "value": "={{ $json['VALOR TOTAL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        220
      ],
      "id": "205087ad-2f2c-4fcc-b6e3-2ed57aa75fc0",
      "name": "Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5c0627e-b1a4-45d2-99fa-a6008785e9fa",
              "name": "CHAVE",
              "value": "={{ $json['CHAVE DE ACESSO'] }}",
              "type": "string"
            },
            {
              "id": "ef4bc7de-6d68-4bde-81af-9cbb79c620cc",
              "name": "NUMERO",
              "value": "={{ $json['NÚMERO'] }}",
              "type": "string"
            },
            {
              "id": "581767fb-aa5c-477a-8c95-d9826bd55783",
              "name": "SERIE",
              "value": "={{ $json['SÉRIE'] }}",
              "type": "string"
            },
            {
              "id": "d62faff4-ddf8-4ca5-90dc-7f29041e4661",
              "name": "NATUREZA_OPERACAO",
              "value": "={{ $json['NATUREZA DA OPERAÇÃO'] }}",
              "type": "string"
            },
            {
              "id": "a7ca5b07-932b-4021-b4c7-75c39d82f544",
              "name": "DATA_EMISSAO",
              "value": "={{ $json['DATA EMISSÃO'] }}",
              "type": "string"
            },
            {
              "id": "0f0fc9d5-b4a2-4cf0-beb9-e19297021024",
              "name": "Emitente",
              "value": "={{ $json['CPF/CNPJ Emitente'] }}",
              "type": "string"
            },
            {
              "id": "83e10c77-41cc-4b05-b437-fd7a9a1e658a",
              "name": "RAZAO_SOCIAL_EMITENTE",
              "value": "={{ $json['RAZÃO SOCIAL EMITENTE'] }}",
              "type": "string"
            },
            {
              "id": "3c19dd8f-10a4-403b-891c-cb580fb799eb",
              "name": "UF_EMITENTE",
              "value": "={{ $json['UF EMITENTE'] }}",
              "type": "string"
            },
            {
              "id": "a312db33-9ea5-415f-b122-ca8e390e7263",
              "name": "MUNICIPIO_EMITENTE",
              "value": "={{ $json['MUNICÍPIO EMITENTE'] }}",
              "type": "string"
            },
            {
              "id": "32765c08-a0fb-4ccc-8719-6e111a3a8387",
              "name": "CNPJ_DESTINATARIO",
              "value": "={{ $json['CNPJ DESTINATÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "6c23043e-b478-4469-bc01-c102e9eb722d",
              "name": "NOME_DESTINATARIO",
              "value": "={{ $json['NOME DESTINATÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "d73ebe6e-28c5-45f1-9876-b58ef6a03ede",
              "name": "UF_DESTINATARIO",
              "value": "={{ $json['UF DESTINATÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "2fb84f28-a1c8-4e48-b205-602d1775a6ae",
              "name": "VALOR_NOTA_FISCAL",
              "value": "={{ $json['VALOR NOTA FISCAL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        20
      ],
      "id": "fd3de3cc-2814-47ec-b7f6-fb4b22c8c4fd",
      "name": "Header"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/T-800-Beta-I2A2/agente-autonomo-analise-csv/refs/heads/main/data/Tabela_NCM.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        420
      ],
      "id": "3d2795a1-6e90-4c14-96d8-96e79d0e953e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "fromLine": 5
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -140,
        420
      ],
      "id": "4323e4f3-6340-487f-ad51-64324dfbadb2",
      "name": "Extract from File",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "binaryPropertyName": "data_item",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -140,
        220
      ],
      "id": "ff5dbc68-5585-4ffe-8b66-1f8c66107408",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "content": "## Codigo NCM",
        "height": 180,
        "width": 1260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        400
      ],
      "id": "62a8af4f-4488-49d8-a922-2f175e91f4c3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ngroup = {}\n\ndef get_level(code, descr):\n  codes = code.split(\".\")\n  if len(codes) <= 1:\n    return 0\n  else:\n    if descr.startswith('--'):\n      return 3\n    elif descr.startswith('-'):\n      return 2\n  return 1  \n\nparts = [None, None, None, None]\nfor item in _input.all():\n  descr = str(item.json['Descricao']).strip()\n  code = str(item.json.Codigo).strip()\n  level = get_level(code, descr)\n  item.json.level = level\n  \n  if level == 0:\n    parts = [descr, None, None, None]\n  elif level == 1:\n    parts[1] = descr\n    parts[2] = None\n    parts[3] = None\n  elif level == 2:\n    parts[2] = descr\n    parts[3] = None\n  else:\n    parts[3] = descr\n  \n  item.json.descricao_completa = \"|\".join([p.replace('-','').strip() for p in parts if p])\n  item.json.NCM = code.replace('.','')\n  \n\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        420
      ],
      "id": "6d844def-055f-4401-943f-10ffb98b020f",
      "name": "Code | NCM + Decricao Completa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2894c364-08d1-46ad-b430-50035d4c5b79",
              "name": "Codigo",
              "value": "={{ $json['Código'] }}",
              "type": "string"
            },
            {
              "id": "c89ef079-23f8-4fa0-8224-ad3213165dd0",
              "name": "Descricao",
              "value": "={{ $json['Descrição'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        420
      ],
      "id": "e6dc0720-0ec5-4396-a4c2-cc4956f20259",
      "name": "Edit Fields | NCM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "504c59f2-e450-4f4a-b7e4-26977eb89ae8",
              "name": "NCM",
              "value": "={{ $json.NCM }}",
              "type": "string"
            },
            {
              "id": "b7f366ca-3ab7-4ddc-9bb6-c39004804079",
              "name": "DECRICAO_NCM",
              "value": "={{ $json.descricao_completa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        420
      ],
      "id": "a6027ac7-fd7d-4cd3-b9df-d08a17405af7",
      "name": "Edit Fields | NCM + Descr"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "CODIGO_NCM_SH",
              "field2": "NCM"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        680,
        140
      ],
      "id": "0417c0b1-eab8-4fd9-9038-672cb9fa3299",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        220
      ],
      "id": "7e0d7c70-cd04-47c0-bc04-82dd8ee930e4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        640,
        -220
      ],
      "id": "bd5f11a4-75df-431a-aceb-b27e63bd5b7d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        480,
        -20
      ],
      "id": "bb007d3c-e9aa-4fee-9605-7e884653ee30",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ZECwSa5GU6dAwR08",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notas",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        140
      ],
      "id": "a4380e7d-d107-412c-b764-6fca47807ea7",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "BJ4R7e0k3qvX1Lrm",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Supabase": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Header": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields | NCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | NCM + Decricao Completa": {
      "main": [
        [
          {
            "node": "Edit Fields | NCM + Descr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields | NCM": {
      "main": [
        [
          {
            "node": "Code | NCM + Decricao Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields | NCM + Descr": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e29facc0-1aa9-4c05-98ab-e3281219b37c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c74bc25c395ea0dd630d72723cb1527e088c6916f8ef8801fab67f9478d02a79"
  },
  "id": "tRfPqQnMBnIGbzcn",
  "tags": []
}